@{
    Layout = "_Layout";
}

<h1>Welcome to Animal Shelter!</h1>
<p class="link">@Html.ActionLink("See all species", "Index", "Species")</p>
<p class="link">@Html.ActionLink("See all animals", "Index", "Animals")</p>