body {
    text-align: center;
    background-color: #C9C9EE;
}

div#footer {
    position:fixed;
    bottom:0px;
    left:0px;
    width:100%;
    color:#CCC;
    background:#333;
    padding:8px;
}

.link {
    font-size: 30px;
}